@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --CYAN-600: #4d96a9;
  --CYAN-600-HOVER: #6ca8b7;
  --CYAN-TRANSPARENT: #4d97a99c;
  --CYAN-300: #8fe3f9;
  --PURPLE-600: #855fb1;
  --PURPLE-600-HOVER: #86719e;
  --PURPLE-300: #d9b8ff;
  --SLATE-900: #28283d;
  --SLATE-600: #87879d;
  --SLATE-300: #d1d1df;
  --WHITE-900: #ffffff;
}

body {
  font-family: "Red Hat Display", serif;
}

header {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 30px 0px;
}

main {
  width: 100%;
}

.hero-section {
  margin-top: 10px;
  position: relative;
  height: 85vh;
}

.hero-section__img-wrapper {
  width: 100%;
  height: 20vh;
}

.tablet__hero-image {
  width: 100%;
  height: auto;
}

.laptop__hero-image {
  display: none;
}

.laptop__image-wrapper {
  display: none;
}

.hero-section__description {
  margin-top: 20px;
  text-align: center;
  padding: 15px;
}

.hero-section__description h1 {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 900;
  color: var(--SLATE-900);
  margin: 0px 20px 30px;
}

.hero-section__description p {
  color: var(--SLATE-600);
}

.hero-section__btn-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 18vh;
}

.hero-section__description button {
  font-size: 1.6rem;
  border: none;
  padding: 15px;
  border-radius: 50px;
  font-family: inherit;
  font-weight: 500;
}

.button-one {
  width: 70%;
  background-color: var(--CYAN-600);
  color: var(--WHITE-900);
}

.button-one span {
  color: var(--CYAN-300);
}

.button-two {
  width: 50%;
  background-color: var(--PURPLE-600);
  color: var(--WHITE-900);
}

/* HOVER STYLES */
.button-one:hover,
.button-one:focus {
  background-color: var(--CYAN-600-HOVER);
  cursor: pointer;
}

.button-two:hover,
.button-two:focus {
  background-color: var(--PURPLE-600-HOVER);
  cursor: pointer;
}

p {
  font-size: 1.3rem;
}

.section-two {
  padding: 20px;
  margin: 20px 0px;
}

.design {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min-content;
  margin: 0px auto 60px;
}

.line {
  height: 100px;
  width: 2px;
  background-color: var(--SLATE-300);
}

.circle {
  width: 70px;
  height: 70px;
  border: 2px solid var(--SLATE-300);
  border-radius: 50%;
  display: grid;
  place-content: center;
  background-color: var(--WHITE-900);
}

.circle span {
  color: var(--SLATE-600);
  font-size: 1.3rem;
}

.section-two__img-container {
  margin: 20px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 15px;
  width: 100%;
  height: 40vh;
}

h3,
h2 {
  text-align: center;
}

h2 {
  color: var(--CYAN-600);
  font-weight: 800;
  font-size: 1.3rem;
  margin-top: 60px;
}

h3 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 1;
  margin: 10px 0px 30px;
}

.section-two__text-div p {
  text-align: center;
  color: var(--SLATE-600);
}

.section-two img {
  max-inline-size: 100%;
  block-size: auto;
  border-radius: 8px;
}

footer {
  position: relative;
  text-align: center;
  margin-top: 180px;
  padding: 20px;
  color: white;
  height: 42vh;
  background-color: var(--CYAN-TRANSPARENT);
}

footer .design {
  margin: 50px auto 0px;
  position: absolute;
  top: -175px;
  left: 45vw;
  z-index: 5;
}

.footer__image-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 42vh;
}

.footer__image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

footer button {
  margin-top: 30px;
  border: none;
  padding: 15px;
  font-family: inherit;
  font-size: 1.3rem;
  font-weight: 500;
  width: 60%;
  border-radius: 50px;
  background-color: var(--PURPLE-600);
  color: white;
}

footer button:hover,
footer button:focus {
  background-color: var(--PURPLE-600-HOVER);
  cursor: pointer;
}

footer button span {
  color: var(--PURPLE-300);
}

footer h3 {
  margin-top: 40px;
}

footer p {
  margin-top: 15px;
}

/* STYLES FOR VERY SMALL MOBILE SCREENS */
@media only screen and (max-width: 380px) {
  .hero-section__description button {
    font-size: 1rem;
  }

  .hero-section__description h1 {
    font-size: 2rem;
  }

  .hero-section__description p {
    font-size: 1rem;
  }

  .button-two {
    margin: 20px 0px 0px;
  }

  footer .design {
    left: 37vw;
  }

  footer p {
    font-size: 1rem;
  }

  footer button {
    font-size: 1rem;
  }
}
/* STYLES FOR TABLET SCREENS */

@media only screen and (min-width: 600px) {
  .hero-section {
    height: 78vh;
    margin-top: 50px;
  }

  .hero-section img {
    width: 100%;
  }

  .hero-section__img-wrapper {
    height: 30vh;
  }

  .hero-section__description {
    margin-top: 30px;
  }

  .hero-section__description h1 {
    font-size: 2rem;
    margin: 0px auto 30px;
    width: 50%;
  }

  .hero-section p {
    width: 80%;
    margin: 0px auto;
  }

  .hero-section__btn-container {
    flex-direction: row;
    width: 70%;
    margin: 30px auto 0px;
  }

  .button-one {
    width: 45%;
  }

  .section-two__img-container {
    height: max-content;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding: 0px 50px;
    column-gap: 25px;
  }

  footer {
    height: 30vh;
  }

  footer button {
    font-size: 1rem;
  }

  .footer__image-container {
    height: 30vh;
  }

  .footer__image-container img {
    height: 100%;
    width: 100%;
  }
}

/* STYLES FOR DESKTOP AND LAPTOPS */

@media only screen and (min-width: 992px) {
  .hero-section {
    display: flex;
    justify-content: space-between;
    height: 60vh;
  }

  .hero-section > div {
    margin-top: 50px;
  }

  .laptop__hero-image {
    display: block;
  }

  .tablet__hero-image {
    display: none;
  }

  .laptop__image-wrapper {
    width: 28%;
    padding-top: 50px;
    display: block;
  }

  .hero-section__img-wrapper {
    width: 28%;
    height: 100%;
  }

  .hero-section__description {
    width: 35%;
  }

  .laptop__hero-image {
    height: auto;
    width: 100%;
  }

  .hero-section__description h1 {
    width: 100%;
    font-size: 2rem;
  }

  .hero-section__description p {
    font-size: 1rem;
  }

  .hero-section__description button {
    font-size: 1rem;
  }

  .hero-section__btn-container {
    margin: 0px;
    width: 100%;
  }

  .section-two {
    margin-top: 150px;
  }

  footer {
    display: flex;
    padding: 100px 20px 50px;
    height: 35vh;
    justify-content: space-between;
  }

  .footer__image-container {
    height: 35vh;
  }

  footer h3 {
    margin: 0px;
    font-size: 2rem;
  }

  footer p {
    margin: 0px;
    font-size: 1.2rem;
  }

  footer button {
    font-size: 1rem;
    margin: 0px;
    width: 200px;
    height: 60px;
  }
}

/* FOR VERY LARGE LAPTOPS AND SCREENS */
@media only screen and (min-width: 1200px) {
  .hero-section__description {
    width: 28%;
  }

  .section-two {
    margin-top: 200px;
  }

  footer p {
    width: 60%;
  }

  footer .design {
    left: 48vw;
  }
}

/* SPECIFIC STYLES FOR CERTAIN DEVICES */

/* ipad pro */

@media only screen and ((min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait)) {
  .hero-section {
    height: 40vh;
  }

  .section-two {
    margin-top: 0px;
  }

  footer {
    height: 28vh;
  }

  .footer__image-container {
    height: 28vh;
  }
}
